<!DOCTYPE html>
{%extends 'mobileapp/base.html'%}
{% block body_block %}

<h3>Admin SignIn</h3>
<div class="row">
    <div class="col"></div>
    <div class="col-4">
        <form method="post">
            {% csrf_token %}
            <div>
                <label style="margin-top:40px">Username</label>
                <input type="text" name="uname" class="form-control" >

            </div>
            <div>
                <label style="margin-top:40px">Password</label>
                <input type="text" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" style="margin-top:40px">SignIn</button>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}